<div class="container">
  <h1 class="" style="margin-left: 120px; margin-right: 120px;">ALL Properties</h1>
  <section>
    <div class="container py-2">
      <div class="row justify-content-center">

        <div class="col-md-12 col-xl-10">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="roomType" class="form-label">Select Room Type</label>
                <select
                  name="roomType" class="form-control" aria-placeholder="Select room type"
                  [(ngModel)]="roomTypeFilterTerm"    style="width:200px"
                  >
                  <option value="single">Single</option>
                  <option value="double">Double</option>
                  <option value="three">Three</option>
                  <option value="four">Four</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <label for="tenantType" class="form-label">Select Tenant Type</label>
              <div class="form-group m-2" style="display: flex; gap: 10px;">
                <input type="radio" value="male"  id="tt" name="tenantType"  [(ngModel)]="tenantTypeFilterTerm">
                <label for="">Male</label>
                <input type="radio" value="female" id="tt" name="tenantType" [(ngModel)]="tenantTypeFilterTerm">
                <label for="">Female</label>
                <input type="radio" value="anyone" id="tt" name="tenantType" [(ngModel)]="tenantTypeFilterTerm">
                <label for="">Anyone</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="filterTerm"
              />
          </div>
          @for (item of properties | filter: filterTerm | filter:roomTypeFilterTerm | filter:tenantTypeFilterTerm; track item) {
            <div class="card shadow-0 border rounded-3 my-3">
              <!-- properties list -->
              <div class="card-body" >
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                      <img src="../../../assets/h1.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-6">   <!-- click function to navigate to detail page -->
                    <h5>{{ item.name}}PG</h5>
                    <div  style="display: flex !important; flex-direction: row !important; flex-wrap: wrap !important; ">
                      @for (subitem of item.roomAmenities; track subitem) {
                        <div class="mx-1">
                          <div class="mb-2 text-muted small">
                            <span class=" badge bg-secondary">
                              {{ subitem }}
                            </span>
                          </div>
                        </div>
                      }
                    </div>
                    <p class="text-truncate my-3 mb-md-0">
                      Address: {{ item.address }}
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">Rent: Rs {{ item.rent }}</h4><br/>
                    </div>
                    <h6 class="text-success">Deposite: Rs {{ item.deposite }}</h6>
                    <div class="d-flex flex-column mt-3">
                      <div class="fs-6 mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar2-event" viewBox="0 0 16 16">
                          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"></path>
                          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"></path>
                        </svg>
                        {{ item.availableFrom | date }}
                      </div>
                      <button class="btn btn-primary btn-sm" type="button"  (click)="navigate(item._id)">View Details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </section>
</div>