<div class="page-narrow">
  <mat-card>
    <mat-card-content>
      <h1>Please Login</h1>
      <form
        name="form"
        #f="ngForm"
        (ngSubmit)="f.form.valid && onSubmit()"
        novalidate
        class="auth-form"
        >

        <mat-form-field appearance="outline">
          <mat-label>Enter Email</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="form.email"
            email
            #email="ngModel"
            name="email"
            required
            />
          @if ((email.touched || f.submitted) && email.errors) {
            @if (email.errors?.['required']) {
              <mat-error>Email is required</mat-error>
            }
            @if (email.errors?.['email']) {
              <mat-error>Email must be a valid email address</mat-error>
            }
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)] = "form.password"
            password
            minlength="4"
            #password="ngModel"
            name="password"
            required
            />
          @if (password.errors && f.submitted) {
            @if (password.errors?.['required']) {
              <mat-error>Password is required</mat-error>
            }
            @if (password.errors?.['minlength']) {
              <mat-error>Password must be at least 4 charecters</mat-error>
            }
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select Role</mat-label>
          <mat-select
            [(ngModel)]="form.role"
            #role="ngModel"
            name="role"
            required>
            <mat-option value="tenant">tenant</mat-option>
            <mat-option value="owner">owner</mat-option>
          </mat-select>
          @if (role.errors && f.submitted) {
            @if (role.errors?.['required']) {
              <mat-error>Role is required</mat-error>
            }
          }
        </mat-form-field>

        <button mat-flat-button type="submit">Login</button>

        @if (f.submitted && isLoginFailed) {
          <p class="form-message error">Login failed<br/>{{ errorMessage }}</p>
        }

        @if (isSuccessful) {
          <p class="form-message success">Login successful!</p>
        }
        <p>Already a user? <a [routerLink]="'/signUp'">SIGNUP</a></p>
      </form>
    </mat-card-content>
  </mat-card>
</div>